.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100000;
  background: #fff;
}

.brand-name {
  font-size: 20px;
  background: #8e2de2;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #8e2de2 #4a00e0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #8e2de2, #4a00e0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  -webkit-background-clip: text;
  background-clip: clip;
  -webkit-text-fill-color: transparent;
}

.brand-name a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3rem;
}

.nav-links a {
  text-decoration: none;
  color: #9400ff;
}

.hamburger-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  position: relative;
  display: none;
  gap: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}

.hamburger-button span {
  width: 26px;
  height: 4px;
  background: #8e2de2;
  background: -webkit-linear-gradient(to left, #8e2de2 #4a00e0);
  background: linear-gradient(to left, #8e2de2, #4a00e0);
  position: absolute;
  border-radius: 4px;
  transition: all 0.15s ease-in;
}

.hamburger-button span:first-child {
  width: 13.5px;
  top: 12px;
  left: 12.5px;
}

.hamburger-button span:last-child {
  width: 13.5px;
  bottom: 12px;
  right: 12.5px;
}
.hamburger-button.active span:nth-child(2) {
  transform: rotate(-45deg);
}
.hamburger-button.active span:first-child {
  transform: rotate(45deg);
  top: 19px;
  left: 15px;
}

.nav-links a.logout-button {
  text-align: center;
  cursor: pointer;
  border: none;
  outline: none;
  width: 100px;
  padding: 15px;
  border-radius: 8px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.hamburger-button.active span:last-child {
  transform: rotate(45deg);
  bottom: 18px;
  right: 14px;
  z-index: -1;
}

/*Mobile View*/
@media screen and (max-width: 768px) {
  .hamburger-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .brand-name {
    font-size: 20px;
  }

  .nav-links a.logout-button {
    width: 80%;
    background: #fff;
    color: #000;
    font-weight: bold;
    text-align: center;
  }
  .nav-links {
    flex-direction: column;
    position: absolute;
    border-radius: 20px;

    top: 120px;
    display: none;
    background: rgba(142, 45, 226);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      rgb(74, 0, 224),
      rgb(142, 45, 226)
    );
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(74, 0, 224), rgb(142, 45, 226));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    max-height: 100vh;
    min-height: 320px;
    width: 90%;
    padding: 40px 0;
    margin: 0 auto;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    color: #fff;
  }
}
