.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.brand-name {
  font-size: 20px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8e2de2 #4a00e0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8e2de2,
    #4a00e0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #9400ff;
}

.hamburger-button {
  width: 50px;
  height: 50px;
  background-color: transparent;
  display: none;
  gap: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
}

.hamburger-button span {
  width: 26px;
  height: 4px;
  background: #8e2de2;
  background: -webkit-linear-gradient(to left, #8e2de2 #4a00e0);
  background: linear-gradient(to left, #8e2de2, #4a00e0);

  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .hamburger-button {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    position: absolute;
    border-radius: 20px;
    top: 6%;
    right: 4%;
    display: none;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(51, 50, 50, 0.6)
    );
    max-height: 100vh;
    min-height: 320px;
    width: 50%;
    padding: 40px 0;
    margin: 0 auto;
  }
  .nav-links.active {
    display: flex;
  }
}
