.user-name {
  margin-left: 5%;
}
.book-section {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  padding-left: 20px;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.book-section::-webkit-scrollbar {
  display: none;
}

.user-name {
  margin-bottom: 40px;
  text-transform: capitalize;
}
